
.title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #008c5d;
  text-decoration: none;
background-color: rgb(186, 250, 255)
}
.title:hover {
  color: #00795c;
}

.home {
  background-color: white;
  padding: 2rem;
  text-align: center;
}
html {
  overflow-y: scroll;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Helvetica', sans-serif;
}
@media (max-width: 600px) {
  h1 { font-size: 1.7rem; }
  h2 { font-size: 1.35rem; }
  h3 { font-size: 1.1rem; }
  p, li, label, input, button { font-size: 1.05rem; }
}

@media (max-width: 900px) {
  p, li, label, input, button {
    font-size: 1.05rem;
  }
}

